<footer class="footer">
	<div class="footer__container container">
        <div class="footer__wrapper" data-animate-sequence>
            <nav class="footer__navigation">
                {% if footer.links %}
                    <ul class="footer__items">
                        {% for link in footer.links %}
                            <li class="footer__item" data-animate-sequence-el data-animate-sequence-delay="{{ loop.index }}"><a class="footer__link link" href={{link.href}}>{{link.text}}</a></li>
                        {% endfor %}
                    </ul>
                {% endif %}
            </nav>
            {% if footer.contacts %}
                <div class="footer__contacts">
                    <div class="footer__item" data-animate-sequence-el data-animate-sequence-delay="5">
                        <a class="footer__link link" href={{footer.contacts.mail.href}}>{{footer.contacts.mail.text}}</a></div>
                    <div class="footer__item" data-animate-sequence-el data-animate-sequence-delay="6">
                        <a class="footer__link link" href={{footer.contacts.tel.href}}>{{footer.contacts.tel.text}}</a>
                    </div>
                    
                </div>
            {% endif %}
        </div>
	</div>
</footer>
